
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
