body
{
	background-color: #191d21;
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	margin:0px;
	color: #efefef;
	
}

.top
{
	
	margin-top:0;
	text-align:center;
	
}

.top>li
{
	list-style-type:none;
	display:inline-block;
	color:white;
	padding:15px;
	font-size:17px;
	vertical-align: middle;
	margin-right:60px;
	
}

.top>li>i

{
	color:#39a5f1;
	margin-right:10px;
}

.menu
{
	list-style-type:none;
	text-align:center;
	background-color:#303030;
	padding:20px;
		
}

.menu>li
{
	display:inline-block;
	border-right:1px dashed #444444;
	font-size:25px;
	padding-left:20px;
	padding-right:20px;
	margin-right:30px;
	
}

.menu>li:first-child
{
	border-left:1px dashed #444444;
}

.menu a
{
	text-decoration:none;
	color:white;
}

.bluebutton

{
	font-size:20px;
	background-color: #39a5f1;
	text-decoration:none;
	color:white;
	border-radius:5px;
	padding:15px 10px;
	outline:none;
	letter-spacing: 2px;
	cursor:pointer;
	border:none;
	display:block;
	margin-right:auto;
	margin-left:auto;
	
}

.bluebutton:hover

{
	background-color:#196499;
}

.img
{
	background-image: url("img/tir.png");
	height:400px;
	margin-top:40px;
	
}

.img p

{
	text-align:center;
	font-size:60px;
	letter-spacing: 10px;
	color:#39a5f1;
	height:80px;
	padding-top:60px;
		
}

.topbar
{
	background-color:#303030;	
}

#topbarL 
{
	display:inline-block;
	padding:30px;
	
}

#topbarL img

{
	border-radius:5px;
	width:300px;
	padding-left:30px;
}

#topbarR 
{
	display:inline-block;
	width:750px;
	font-size:20px;	
	color:white;
	text-align:justify;
	padding-left:100px;
	
}



.why p
{
	color:white;
	text-align:center;
	padding-left:60px;
	padding-right:60px;
	padding-top:10px;
	font-size:20px;
}

.newest
{
	background-color:#191d21;
}

.entries

{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:10px;
	padding-bottom:80px;
	width:950px;
	margin-top:40px;
	
}

.entry
{
	background-color:#222930;
	padding:30px;
	text-align:justify;
	margin-top:40px;
	border-radius:5px;
	font-size:18px;
	
	
}

.entryimg
{
	float:left;
	margin-left: 30px;
	width:300px;
	
}

.entryimg img
{
	width:150px;
	height:130px;
	border-radius:5px;

}

.entrytxt
{
	float:left;
	width:600px;	
}

h2
{
	color:#39a5f1;
	text-align:center;
	font-size:40px;
	padding-top:5px;
}

h3

{
	color:#39a5f1;
	text-align:center;
	font-size:20px;
	margin-top:0px;
}